src/main/mule/poc2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e548b59c-701c-4b3e-b05d-1124760a9b9d" >
		<http:listener-connection host="0.0.0.0" port="1090" />
	</http:listener-config>
	<flow name="poc2Flow" doc:id="dde3e69f-fee3-448a-bb6b-ec4383202c16" >
		<http:listener doc:name="Listener" doc:id="fb9535c8-29d0-4b05-a2ea-681195fae627" config-ref="HTTP_Listener_config" path="/poc21"/>
		<set-payload value="#['My Name is Sandip Bhadra-This code is deployed from the Jenkins Pipeline']" doc:name="Set Payload" doc:id="432fdc5b-8767-486d-878a-505167342f1c" />
		<logger level="INFO" doc:name="Logger" doc:id="83e18c21-13d5-42de-94c4-3f8ad16ea94f" message="#[payload]"/>
	</flow>
</mule>
